@import "tailwindcss";

@tailwind utilities;

@layer utilities {
  .animate-gradient-text {
    background-size: 200% auto;
    animation: gradient-animation 4s linear infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% center;
    }

    100% {
      background-position: 200% center;
    }
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}